html{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
header{
    margin-bottom: 1.5rem;
    padding-bottom:16px;
}
main{
    padding:0.75rem;
}
textarea{
    width: 100%;
}
.main-container{
    background-color: rgba(0,0,0,0.3);
    border-radius: 1rem;
}
.dashboard-title{
    color: white;
}
#footer-container{
    margin-top: 1.5rem;
    background-color: transparent;
}
#desktop-card-deck{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:0.75rem;
}
.cita-card{
    min-width: 25%;
    margin: 0.25rem;
}

@media (max-width: 1024px){
    .cita-card{
        width: 100%;
    }
}
